@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

/* background image  */

h1{
    font-family: poppins,sans-serif;
}

.body{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}


.image{
    height:100%;
    width: 100%;
    position:fixed;
    background-size: cover;
    background-position: fixed;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* first page central text box  */
.box {
    text-align: center;
    height: 250px;
    width: 650px;
    position: absolute;
    top: 225px;
    left: 95px;
    border-radius: 20px;
    border: white 5px solid;
    color: white;
    padding: 35px;
}

button {
    animation: wiggle 2s linear infinite;
    position: absolute;
    left: calc(50% - 3em);
    top: 150px;
    
    height: 4em;
    width: 7em;
    
    background: #3c3a3a;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid orange;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
  }
  
  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
