@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

/* background image  */

h1{
    font-family: poppins,sans-serif;
}
.image{
    height:100%;
    width: 100%;
    position: fixed;
    background-size: cover;
    background-position: fixed;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* first page central text box  */
.box {
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    position: absolute;
    top: 270px;
    left: 270px;
    border-radius: 20px;
    opacity: 75;
}
