@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    height:100%;
    width: 100%;
    position:fixed;
    background-size: cover;
    background-position: fixed;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    width: 100%;
    height: 100vh;
    background: rgba(14, 224, 224, 0.352);
background: radial-gradient(circle,#BCECE0 0%, #36EEE0 100%);
  
}

h1 {
    text-align: center;
    font-family: 'Play', sans-serif;
    position: absolute;
    top: 65px;
    left: 325px;
    color: white;
}

#container {
    height: 440px;
    width: 560px;
    background-color:rgb(55, 160, 230);
    margin: 0 auto;
    top: 135px;
    left: 150px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(0,0,0,0.4);
    position: absolute;
    box-sizing: content-box;
    
}

#score {
    background-color: #9fe1e9;
    color: #4a0303;
    padding: 11px;
    position: absolute;
    right: 11px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
}

#correct {
    position: absolute;
    left: 45%;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}

#wrong {
    position: absolute;
    left: 42%;
    background-color: #de401a;
    color: white;
    padding: 11px;
    display: none;
}

#question {
    width: 460px;
    height: 150px;
    margin: 50px auto 10px auto;
    background-color: #80f1ed;
    box-shadow: 0px 2px rgba(0,0,0,0.4);
    text-align: center;
    /* for horizontal center */
    font-size: 80px;
    font-family: 'Play', sans-serif;
    color: #4C5270;
}

#instruction {
    width: 460px;
    height: 50px;
    background-color:  #80f1ed;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 2px rgba(0,0,0,0.4);
    font-weight: bold;
    
}

#choices {
    width: 450px;
    height: 100px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
   
    
}

.box {
    width: 85px;
    height: 85px;
    background-color: cyan;
    flex-direction: column;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
}

.box:hover,
#startreset:hover {
    background-color: darkcyan;
    color: white;
    box-shadow: 0px 4px rgba(0,0,0,0.4);
}

.box:active,
#startreset:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

#startreset {
    width: 100px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
}

#timeremaining {
    width: 180px;
    padding: 10px;
    position: absolute;
    top: 385px;
    left: 370px;
    background-color: rgba(205, 249, 48, 0.9);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    display: none;
    animation: wiggle 2s linear infinite;
    font-weight: bold;
    box-sizing: content-box;
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
#gameOver {
    width: 85%;
    height: 55%;
    background: rgb(14,223,224);
background: radial-gradient(circle,#BCECE0 0%, #36EEE0 100%);
color: #4a0303;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 57px;
    left: 45px;
    padding: 50px;
    z-index: 2;
    display: none;
    border-radius: 20px;
}

@media (max-width: 570px) {
    #container {
        width: 440px;
        top: 60px;
    }

    #correct {
        left: 40%;
    }

    #wrong {
        left: 38%;
    }

    #question,
    #instruction,
    #choices {
        width: 420px;
    }

    #startreset {
        width: 205px;
        margin-left: 0;
    }

    #timeremaining {
        width: 205px;
        left: 225px;
        text-align: center;
        display: block;
    }

    #gameOver {
        width: 400px;
        height: 250px;
        background: linear-gradient(#F3CA6B, #F3706C);
        color: white;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 80px;
        left: 20px;
        padding-top: 90px;
        z-index: 2;
        display: none;
    }
}
